[Unit]
Description=Airflow scheduler daemon
After=syslog.target network.target
[Service]
PIDFile=/run/airflow/scheduler.pid
User=airflow
Group=airflow
Type=forking
ExecStart=/bin/bash -c 'export AIRFLOW_HOME=/etc/airflow ; /usr/local/bin/airflow scheduler -D --pid /run/airflow/scheduler.pid'
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
RuntimeDirectory=airflow
WorkingDirectory=/home/airflow
Restart=on-failure
RestartSec=42s
PrivateTmp=true
[Install]
WantedBy=multi-user.target